<div ng-controller='detail_view_controller as ctrl'>
	<img id='media' ng-src='{{ctrl.flickrData.value.items[ctrl.index].media.m}}'>
	<div id='title'>{{ctrl.flickrData.value.items[ctrl.index].title}}</div>
	<div id='author'>{{ctrl.flickrData.value.items[ctrl.index].author}}</div>
	<div id='date_taken'>{{ctrl.flickrData.value.items[ctrl.index].date_taken}}</div>
	<div id='link'>{{ctrl.flickrData.value.items[ctrl.index].link}}</div>
	<div id='tags'>{{ctrl.flickrData.value.items[ctrl.index].tags}}</div>
	<div id='description'>{{ctrl.flickrData.value.items[ctrl.index].description}}</div>
	<a id='listView' href='#list_view'>Back to list view</a>
</div>
