<section id='detail_view' ng-controller='detail_view_controller as ctrl'>
	<section id='detail_header'>
		<a href='{{ctrl.flickrData.value.items[ctrl.index].link}}' id='title'>{{ctrl.flickrData.value.items[ctrl.index].title}}</span>
		<a id='listView' href='#list_view'>Back to list view</a>
	</section>
	<section id='detail_sub_header'>
		<span id='author'>{{ctrl.flickrData.value.items[ctrl.index].author}}</span>
		<span id='date_taken'>Published: {{ctrl.flickrData.value.items[ctrl.index].date_taken | date:"dd MMMM yyyy 'at' h:mma"}}</span>
	</section>
	<section id='detail_body'>
		<img id='media' ng-src='{{ctrl.flickrData.value.items[ctrl.index].media.m}}'>
		<section class='info_section'>
			<div id='description_title'>Description:</div>
			<div id='description_text' ng-bind-html='ctrl.renderHtml(ctrl.flickrData.value.items[ctrl.index].description)'></div>
		</section>
		<section class='info_section'>
			<div id='tags_title'>Tags:</div>
			<div id='tags_text'>{{ctrl.flickrData.value.items[ctrl.index].tags}}</div>
		</section>
	</section>
</section>
