@font-face {
    font-family: 'daniel_boldmedium';
    src: url('../fonts/daniel_bold-webfont.eot');
    src: url('../fonts/daniel_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daniel_bold-webfont.woff2') format('woff2'),
         url('../fonts/daniel_bold-webfont.woff') format('woff'),
         url('../fonts/daniel_bold-webfont.ttf') format('truetype'),
         url('../fonts/daniel_bold-webfont.svg#daniel_boldmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

html *
{
	font-size: 14px;
	color: #000;
	font-family: Sans-Serif;
}


$normal_width: 900px;
$background_colour: #CCBAA0;
$highlight_colour: #FFE8C8;
$border_colour: #362612;

/*all*/
#project_title {
	margin: 0 auto;
	width: $normal_width;
	text-align: center;
	p {
		font-family: 'daniel_boldmedium', Sans-Serif;
		font-size: 40px;
	}
}

#container {
	margin: 0 auto;
	border: 22px solid $border_colour;
	width: $normal_width;
	@include border-radius(10px);
}

/*list view*/
#list_view {
	.item {
		background: $background_colour;
		position: relative;
		&:hover {
			background: $highlight_colour;
		}
	}

	.item_text {
		padding-top: 10px;
	}

	.media {
		margin-right: 10px;
		display: block;
		float: left;
	}

	#title {
		font-weight: bold;
		font-size: 20px;
		display: block;
		overflow: auto;
		padding-bottom: 10px;
	}

	#date_taken {
		margin-right: 20px;
	}

	footer {
		width: 100%;
		height: 20px;
		background: $border_colour;
		clear: left;
	}
	
	.hideThisFooter {
		height: 0px !important;
	}
}

$back_button_width: 140px;
$padding: 20px;
/*detail view*/
#detail_view {
	padding: $padding;;
	background: $background_colour;

	#content {
		background: $background_colour;
	}

	#title {
		display: inline-block;
		font-weight: bold;
		font-size: 20px;
	}
	
	#listView {
		float: right;
		display: inline-block;
		text-align: right;
	}

	#detail_header {
		position: relative;
		display: block;
		height: auto;
		margin-bottom: 10px;
	}

	#detail_sub_header {
		position: relative;
		display: block;
		height: 30px;
	}

	#detail_body {
		position: relative;
		overflow: auto; 
	}
	
	#author {
		margin-right: 20px;
	}	

	#media {
		float: left;
		margin-right: 20px;
	}

	.info_section {
		@include border-radius(4px);
		height: auto;
		display: table;
		margin-top: 10px;
		padding: 5px;
		background: $highlight_colour;
	}

	#description{
		font-weight: bold;
	}

	#tags{
		font-weight: bold;
	}
	
}

@media screen and (max-width: 1000px) {
	
	#container, #project_title {
		width: 90%;
	}

	#project_title p {
		font-size: 30px;
	}

	#title {
		font-size: 16px !important;
	}

	#flickr_link {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	
	#container, #project_title {
		width: 90%;
	}

	#project_title p {
		font-size: 20px;
	}
	
	#title {
		padding-bottom: 5px;
		display: inline-block;
		font-size: 16px !important;
	}
	
	#list_view {

		#author {
			display: block;
		}	

		#flickr_link {
			display: block;
		}

		#media {
			float: none;
			display: block;
			padding-top: 10px;
			margin-left: auto;
			margin-right: auto
		}

		.item_text {
			margin: 10px 10px 0px 10px;
			padding-bottom: 10px;
		}
	}

	#detail_view {
		#media {
			float: none;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
		}

		.info_section {
			display: block;
		}

		#date_taken {
			display: block;
		}
	}
}
