$itemWidth : 1100px;
$mediaWidth : 300px;
$gap : 50px;
$itemTextWidth : $itemWidth - $mediaWidth - $gap;

html *
{
	font-size: 14px;
	color: #000;
	font-family: Arial;
}

.item {
	width: $itemWidth;
	position: relative;
	clear: left;
	padding: 20px 20px 20px 20px;
}

.media {
	float: left;
	width: $mediaWidth;
}

.item_text {
	float: right;
	width: $itemTextWidth;
	word-wrap: break-word;
}

#title {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
	display: block;
}

#author, #date_taken {
	margin-right: 20px;
}
