html *
{
	font-size: 14px;
	color: #000;
	font-family: Arial;
}
$normal_width: 1100px;

/*list view*/
#list_view {
	.item {
		width: $normal_width;
		position: relative;
		clear: left;
		padding: 20px 20px 20px 20px;
	}

	.media {
		float: left;
		margin-right: 10px;
	}

	.item_text {
		width: auto;
		word-wrap: break-word;
		padding-left: 10px;
	}

	#title {
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
		padding-bottom: 20px;
		display: block;
		overflow: auto;
	}

	#author, #date_taken {
		margin-right: 20px;
	}
}

$back_button_width: 100px;
/*detail view*/
#detail_view {
	padding: 20px;

	#title {
		display: inline-block;
		width: $normal_width - $back_button_width;
		font-weight: bold;
		font-size: 20px;
	}
	
	#listView {
		float: right;
	}

	#detail_header {
		position: relative;
		display: block;
		padding-bottom: 10px;
		height: 30px;
		width: $normal_width;
		height: auto;
	}

	#detail_sub_header {
		position: relative;
		display: block;
		padding-bottom: 10px;
		height: 30px;
	}

	#detail_body {
		width: $normal_width;
		position: relative;
		overflow: auto; 
	}
	
	#author {
		margin-right: 20px;
	}	

	#media {
	}

	#description {
		position: absolute;
		width: auto;
		margin-left: 10px;
	}

	#tags {
		position: absolute;
		bottom: 0px;
		margin-left: 10px;
	}
}
